!= js('connected')
!= css('calendar')
!= css('fullcalendar')
link(rel="stylesheet", media="print", type="text/css", href="css/fullcalendar.print.css")

ul.nav.nav-pills#switch
  li.calendar
    a(href="#") Calendar
  li.feed
    a(href="#/feed") Feed

.container-fluid#calendar
  .row-fluid
    .span2.sidebar
      section
        h3 Boards
        ul.boards

      section
        h3 Options
        ul.options

    .span10.content

.container-fluid#feed
  .row-fluid
    .span2.sidebar
      section
        h3 Options
        ul.options

    .span10.content
      section
        h2 ICS feeds
        p
         | Copy paste the URL into 
         a(href="http://support.google.com/calendar/bin/answer.py?hl=en&answer=37100", target="_blank") google calendar
         |  or your very own calendar app.
        h3 All boards
        .row-fluid
          .span9
            input(readonly, data-uuid=uuid)
