.container
  .page-header
    h1
      | Trello calendar
      small  View  cards across all your boards with a due date.

  .text-center.tagline
    p.lead Never miss a deadline on one of your boards! 
      a.btn.btn-large.btn-primary(href='/login') Start by login with Trello

  .features
    section.row-fluid
      .span6
        h1 Web calendar
        p Web calendar with a month/week/day view.
        ul
          li Filter cards by boards
          li Show only cards assigned to you
          li Hide archived cards
          li Update due date by drag'n drop
      .span6
        img.img-polaroid(src="/img/calendar.png")

    section.row-fluid
      .span6
        h1 ICS feed
        p The ICS feed allows you to show your cards on Google calendar or Thunderbird Lightning for example.
        ul
          li View all cards with a due date across all your boards
          li Or view only cards from one board
          li Set optional default reminder
          li Show only cards assigned to you
      .span6
        img.img-polaroid(src="/img/ics.jpg")

    section.row-fluid
      .span6
        h2 Security
        if https
          p All data are transmitted over HTTPS.
        p No cards are stored on our server.
        p We ask for both read and write permissions. The write permission is to be able to update due date on cards.
      .span6
        h2 Feedbacks
        p
          | You can provide feedbacks on the 
          a(href='https://trello.com/board/trello-calendar/4f0d53d03ca0f7f83f03cad0') trello board
          .

  .text-center.tagline
    p
      a.btn.btn-large.btn-primary(href='/login') Start by login with Trello

  footer.text-center
    p Trello is a registered trademark of Fog Creek Software, Inc.
      br
      | This service is not affiliated with Fog Creek Software, Inc.
    p
      | © 2012 
      a(href="https://twitter.com/francois2metz") François de Metz
      br
      | This website is a free software. Fork 
      a(href="https://github.com/francois2metz/trello-calendar") trello-calendar
      |  on github.
