!= js('connected')
!= css('calendar')
!= css('fullcalendar')
link(rel="stylesheet", media="print", type="text/css", href="css/fullcalendar.print.css")

ul.nav.nav-pills.nav-stacked#switch
  li.dropdown#me
    a.dropdown-toggle(data-toggle="dropdown", href="#")
      i.icon-user
      span.name
      span.caret
    ul.dropdown-menu
      li
        a.quit(href='#') Deauthorize trello calendar
  li.calendar
    a(href="#") Calendar
  li.feed
    a(href="#/feed") ICS Feed

.container-fluid#calendar
  .row-fluid
    .span2.sidebar
      section
        h3 Boards
        ul.boards

      section
        h3 Options
        ul.options

    .span10.content

.container-fluid#feed
  .row-fluid
    .span2.sidebar
      section
        h3 Options
        ul.options

    .span10.content
      section
        h2 ICS feed
        p You are about to subscribe to cards with due date from all of you existing boards and new ones you'll add in the future.
        p You can set a default alarm. Check on the left.
        .row-fluid
          .span9
            input(type="text", readonly, data-uuid=uuid)
        p
         | Copy paste the previous URL into 
         a(href="http://support.google.com/calendar/bin/answer.py?hl=en&answer=37100", target="_blank") Google Calendar
         |  or your very own calendar app.
