!= js('connected')
!= css('calendar')
!= css('fullcalendar')
link(rel="stylesheet", media="print", type="text/css", href="css/fullcalendar.print.css")


div.filters
.container-fluid
  .row-fluid
    .span2#sidebar
      .btn-group.me
        a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
          i.icon-user
          span.name
          span.caret
        ul.dropdown-menu
          li
            a.quit(href='#') Deauthorize

      section
        h3 Boards
        ul.boards

      section
        h3 Options
        ul.options

      section#ics
        h3 Ics URL
        input(readonly, data-uuid=uuid)
    .span10#calendar
