.filters
{
  margin: 0 0 5px;
  color: white;
}
.filters label
{
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
  padding: 3px;
  cursor: pointer;
}
.filters label:not(.checked)
{
  background-color: gray !important;
}
.filters label.checked
{
  background-color: #990000;
}
.filters input
{
  display: none;
}

.quit
{
  position: absolute;
  top: 0;
  right: 0;
}
