{
"url": "http://localhost:4000",
"trello": {
  "token": {
    "name": "Calendar for Trello",
    "expiration": "never",
    "scope": "read,write"
  },
  "key": "",
  "secret": ""
},
"analytics": {
    "ga": ""
}
}
