.me
{
  position: absolute;
  top: 4px;
  right: 4px;
}
.me .dropdown-menu
{
  right: 0;
  left: inherit;
}
#calendar
{
  margin: 10px 4px;
}
.filters
{
  padding: 4px 4px 0;
  box-shadow: 3px 3px 5px gray;
}
#ics
{
  display: inline-block;
  position: relative;
  top: -9px;
  margin-left: 5px;
}
#ics input
{
  margin-left: 5px;
  cursor: copy;
}
.filters .btn-group
{
  display: inline-block;
}
.filters .dropdown-menu li label
{
  padding: 3px 15px;
}
.boards li input
{
  display: none;
}
.filters label
{
  cursor: pointer;
}
.filters label:hover
{
  background-color: #F1F1F1;
}
.filters .dropdown-menu li .square
{
  display: inline-block;
  border: solid 1px gray;
  width: 11px;
  height: 11px;
  margin-right: 4px;
}
