.container-fluid
{
  padding: 10px 4px;
}
#ics
{
  display: inline-block;
  position: relative;
  top: -9px;
  margin-left: 5px;
}
#ics input
{
  margin-left: 5px;
  cursor: copy;
}
#sidebar ul, #sidebar li
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#sidebar label
{
  padding: 3px 15px;
}
#sidebar label
{
  cursor: pointer;
}
#sidebar label:hover
{
  background-color: #F1F1F1;
}
.boards li input
{
  display: none;
}
.boards .square
{
  display: inline-block;
  border: solid 1px gray;
  width: 11px;
  height: 11px;
  margin-right: 4px;
}
.options select
{
  width: inherit;
}
